.navtabs{
    margin-top: -0.99%;
}

.searchDiv{
    margin-top: 0px !important;
    margin-top: 24px;
    padding: 1rem !important;
}

.active-page {
    background-color: red;
    color: white; /* Optional: Change text color for better visibility */
  }
 
