  <div class="relative homePageMain flex size-full  flex-col bg-black dark group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
      <div class=" flex flex-1 justify-center py-5 px-2">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          <div class="flex flex-wrap items-center justify-between gap-3 p-4 searchDiv">
            <p class="text-[#FFFFFF] text-4xl font-black leading-tight tracking-[-0.033em] min-w-72">
              Continue Watching
            </p>
            <div class="flex items-center bg-black p-2 rounded-xl shadow-lg hover:shadow-xl border border-gray-700">
              <!-- Search Icon and Input Field -->
              <div class="flex items-center bg-black text-white border-r border-gray-700 rounded-l-xl">
                <div class="p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </div>
                <input
                  type="text"
                  placeholder="Search..."
                  class="bg-black text-white outline-none p-2 min-w-64 rounded-r-none border-none"
                  (input)="onSearchChange($event)"
                />
              </div>
            </div>
            
          </div>
          
          <div class="p-2 @container">
          </div>
          <div class="flex gap-3 p-3  flex-wrap pr-4 navtabs">
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#333333] px-4">
              <p (click)="handleNavtabClick('TV Show')" class="text-[#FFFFFF] text-sm font-medium leading-normal m-0 cursor-pointer">TV Shows</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#333333] px-4">
              <p (click)="handleNavtabClick('Movie')" class="text-[#FFFFFF] text-sm font-medium leading-normal m-0 cursor-pointer">Movies</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#333333] px-4">
              <p class="text-[#FFFFFF] text-sm font-medium leading-normal m-0 cursor-pointer">Documentaries</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#333333] px-4">
              <p (click)="handleNavtabClick('all')" class="text-[#FFFFFF] text-sm font-medium leading-normal m-0 cursor-pointer">All</p>
            </div>
    
          </div>
          <div class="p-4">
            <div class="grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 movieCard">
              <app-movie-card *ngFor="let movie of productList" [movie]="movie" (movieClick)="navigateToMovieDescription($event)"></app-movie-card>
            </div>
            <div class="flex justify-center p-2 bg-black cursor-pointer">
              <ul class="inline-flex bg-black -space-x-px text-sm">
                <li>
                  <a (click)="changePage(page - 1)" [class.disabled]="page <= 1" class="flex items-center no-underline justify-center px-3 h-8 leading-tight text-gray-500 bg-black border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><<</a>
                </li>
                <li *ngFor="let p of getPageNumbers()">
                  <a (click)="changePage(p)" [class.active-page]="p === page" class="flex items-center no-underline justify-center px-3 h-8 leading-tight text-gray-500 bg-[#E50914] border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    {{p}}
                  </a>
                </li>
                <li>
                  <a (click)="changePage(page + 1)" class="flex items-center no-underline justify-center px-3 h-8 leading-tight text-gray-500 bg-black border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">>></a>
                </li>
              </ul>
            </div>
            
            
            
          </div>

          
          
          
        </div>
      </div>
    </div>
  </div>